body {
	background: url("../img/bg.png");
}

p {
	font-family: 'Open Sans', sans-serif;
}

/* Base Nav Styling */

nav li {

	float: left;
	list-style: none;
	margin: 0px 20px;
}

/* Link States */

nav a:link, nav a:visited {

	padding: 20px 20px 20px 60px;
	text-decoration: none;
}


/* Hover */

#first a:hover, #second a:hover, #third a:hover {

	background: url("../img/home.png") no-repeat left center;
	transition: background-position 1s;  
}

#second a:hover {

	background: url("../img/resume.png") no-repeat left center;
}

#third a:hover {

	background: url("../img/contact.png") no-repeat left center;
}

/* Advanced Selection */

aside p + img {

	border: 4px solid black;
}

/* Helper Classes */
.showgrid {
	background: url("../img/grid-bg.png");
}